In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
data = [
    (1, 'manish', 50000, 'IT'),
    (2, 'vikash', 60000, 'sales'),
    (3, 'raushan', 70000, 'marketing'),
    (4, 'mukesh', 80000, 'IT'),
    (5, 'pritam', 90000, 'sales'),
    (6, 'nikita', 45000, 'marketing'),
    (7, 'ragini', 55000, 'marketing'),
    (8, 'rakesh', 100000, 'IT'),
    (9, 'aditya', 65000, 'IT'),
    (10, 'rahul', 50000, 'marketing')
]

# Define schema
columns = ["emp_id", "name", "salary", "department"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

+------+-------+------+----------+
|emp_id|   name|salary|department|
+------+-------+------+----------+
|     1| manish| 50000|        IT|
|     2| vikash| 60000|     sales|
|     3|raushan| 70000| marketing|
|     4| mukesh| 80000|        IT|
|     5| pritam| 90000|     sales|
|     6| nikita| 45000| marketing|
|     7| ragini| 55000| marketing|
|     8| rakesh|100000|        IT|
|     9| aditya| 65000|        IT|
|    10|  rahul| 50000| marketing|
+------+-------+------+----------+

In [0]:
df.groupBy("department")\
    .agg(sum("salary")).show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        IT|     295000|
|     sales|     150000|
| marketing|     220000|
+----------+-----------+

In [0]:
df.createOrReplaceTempView("df_table")

In [0]:
%sql
select department ,sum(salary)
from df_table
group by department

department,sum(salary)
IT,295000
sales,150000
marketing,220000