In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
data = [
    (10 ,'Anil',50000, 18),
    (11 ,'Vikas',75000, 16),
    (12 ,'Nisha',40000, 18),
    (13 ,'Nidhi',60000, 17),
    (14 ,'Priya',80000, 18),
    (15 ,'Mohit',45000, 18),
    (16 ,'Rajesh',90000, 10),
    (17 ,'Raman',55000, 16),
    (18 ,'Sam',65000, 17),
    (15 ,'Mohit',45000, 18),
    (13 ,'Nidhi',60000, 17),
    (14 ,'Priya',90000, 18),
    (18 ,'Sam',65000, 17)
]

# Define schema
columns = ["emp_id", "name", "salary", "age"]

# Create DataFrame
manager_df = spark.createDataFrame(data, schema=columns)

In [0]:
manager_df.show()

+------+------+------+---+
|emp_id|  name|salary|age|
+------+------+------+---+
|    10|  Anil| 50000| 18|
|    11| Vikas| 75000| 16|
|    12| Nisha| 40000| 18|
|    13| Nidhi| 60000| 17|
|    14| Priya| 80000| 18|
|    15| Mohit| 45000| 18|
|    16|Rajesh| 90000| 10|
|    17| Raman| 55000| 16|
|    18|   Sam| 65000| 17|
|    15| Mohit| 45000| 18|
|    13| Nidhi| 60000| 17|
|    14| Priya| 90000| 18|
|    18|   Sam| 65000| 17|
+------+------+------+---+

In [0]:
manager_df.count()

13

In [0]:
manager_df.distinct().count()

10

In [0]:
manager_df.select("emp_id","name").distinct().show()

+------+------+
|emp_id|  name|
+------+------+
|    10|  Anil|
|    11| Vikas|
|    12| Nisha|
|    13| Nidhi|
|    14| Priya|
|    15| Mohit|
|    16|Rajesh|
|    17| Raman|
|    18|   Sam|
+------+------+

In [0]:
dropped_manager_df=manager_df.dropDuplicates()

In [0]:
dropped_manager_df.show()

+------+------+------+---+
|emp_id|  name|salary|age|
+------+------+------+---+
|    10|  Anil| 50000| 18|
|    11| Vikas| 75000| 16|
|    12| Nisha| 40000| 18|
|    13| Nidhi| 60000| 17|
|    14| Priya| 80000| 18|
|    15| Mohit| 45000| 18|
|    16|Rajesh| 90000| 10|
|    17| Raman| 55000| 16|
|    18|   Sam| 65000| 17|
|    14| Priya| 90000| 18|
+------+------+------+---+

In [0]:
dropped_manager_df.sort(col("salary")).show()

+------+------+------+---+
|emp_id|  name|salary|age|
+------+------+------+---+
|    12| Nisha| 40000| 18|
|    15| Mohit| 45000| 18|
|    10|  Anil| 50000| 18|
|    17| Raman| 55000| 16|
|    13| Nidhi| 60000| 17|
|    18|   Sam| 65000| 17|
|    11| Vikas| 75000| 16|
|    14| Priya| 80000| 18|
|    16|Rajesh| 90000| 10|
|    14| Priya| 90000| 18|
+------+------+------+---+

In [0]:
dropped_manager_df.sort(col("salary").desc()).show()

+------+------+------+---+
|emp_id|  name|salary|age|
+------+------+------+---+
|    16|Rajesh| 90000| 10|
|    14| Priya| 90000| 18|
|    14| Priya| 80000| 18|
|    11| Vikas| 75000| 16|
|    18|   Sam| 65000| 17|
|    13| Nidhi| 60000| 17|
|    17| Raman| 55000| 16|
|    10|  Anil| 50000| 18|
|    15| Mohit| 45000| 18|
|    12| Nisha| 40000| 18|
+------+------+------+---+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

# Define schema
columns = ["id", "name", "ref_id"]

# Create DataFrame
df = spark.createDataFrame(leet_code_data, schema=columns)

# Show the DataFrame
df.show()

+---+----+------+
| id|name|ref_id|
+---+----+------+
|  1|Will|  NULL|
|  2|Jane|  NULL|
|  3|Alex|     2|
|  4|Bill|  NULL|
|  5|Zack|     1|
|  6|Mark|     2|
+---+----+------+

In [0]:
df.createOrReplaceTempView("df_table")

In [0]:
spark.sql("""
    select name from df_table where ref_id !=2          
""").show()

+----+
|name|
+----+
|Zack|
+----+

In [0]:
df.filter(col("ref_id") != 2).select("name").show()

+----+
|name|
+----+
|Zack|
+----+